@use "../../styles/variables" as *;

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2vw;
    background-color: $white-background;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

    &__logoSection {
        display: flex;
        align-items: center;
    }

    &__actionButtons {
        display: flex;
        align-items: center;
    }
}