@use '../../styles/variables' as *;

.table {
  padding: 1rem;
  width: 100%;

  th,
  td {
    padding: 0.5rem;
    border-bottom: 1px solid #213f7d1a;
    text-align: left;
    font-size: 14px;
  }

  th {
    font-size: 12px;
    padding: 0.5rem;

    span {
      margin-right: 0.5rem;
    }
  }

  &__text {
    text-align: center;
    font-size: $font-20;
    text-transform: uppercase;
  }
}

.container {
  position: relative;
  overflow-x: scroll;
}
