@use '../../styles/variables' as *;

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: $text-secondary;
  text-transform: capitalize;

  &:hover {
    background: rgba(57, 205, 204, 0.06);
    border-left: 4px solid #39cdcc;
  }

  @media all and (max-width: 800px) {
    span {
      display: none;
    }
  }
}

.current {
  background: rgba(57, 205, 204, 0.06);
  border-left: 4px solid #39cdcc;
}
